- breadcrumb :resources, User

= table_for @users do |t|
  - t.column :id
  - t.column :nickname do |user|
    = link_to user.nickname, user, class: "text-dark"
  - t.column :comments_count
  - t.column :likes_count
  - t.column :created_at
  - t.column :updated_at
  - t.column do |user|
    = link_to t("shared.show"), user, class: "btn btn-sm btn-dark"

= paginate @users
