- breadcrumb :resource, @user

= attributes_table_for @user do |t|
  - t.row :id
  - t.row :github_id
  - t.row :email
  - t.row :nickname
  - t.row :github_url do |user|
    = link_to user.github_url, user.github_url, target: "_blank"
  - t.row :gravatar_url do |user|
    = image_tag user.gravatar_url, alt: ""
  - t.row :created_at
  - t.row :updated_at
